<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unknown.Sistema_Inventario_Android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="locked"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="unknown.Sistema_Inventario_Android.ADD.AgregaUsuarios"
            android:screenOrientation="locked"></activity>
        <activity android:name="unknown.Sistema_Inventario_Android.OpcionesPrincipales.Usuarios" android:screenOrientation="locked"/>
        <activity android:name="unknown.Sistema_Inventario_Android.Menu" android:screenOrientation="locked"/>
        <activity android:name="unknown.Sistema_Inventario_Android.Main" android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="unknown.Sistema_Inventario_Android.OpcionesPrincipales.Inventario"
            android:screenOrientation="locked" />
        <activity
            android:name="unknown.Sistema_Inventario_Android.ADD.AgregaInventario"
            android:screenOrientation="locked" />
        <activity
            android:name="unknown.Sistema_Inventario_Android.OpcionesPrincipales.Ventas"
            android:screenOrientation="locked" />
        <activity
            android:name="unknown.Sistema_Inventario_Android.OpcionesPrincipales.Clientes"
            android:screenOrientation="locked" />
        <activity
            android:name="unknown.Sistema_Inventario_Android.Edicion.InventarioEdicion"
            android:screenOrientation="locked" />
        <activity
            android:name="unknown.Sistema_Inventario_Android.ADD.AgregaVentas"
            android:screenOrientation="locked" />
        <activity
            android:name="unknown.Sistema_Inventario_Android.ADD.RegistraCliente"
            android:screenOrientation="locked" />
        <activity android:name="unknown.Sistema_Inventario_Android.Edicion.ClientesEdicion" android:screenOrientation="locked"/>
        <activity android:name="unknown.Sistema_Inventario_Android.OpcionesPrincipales.Vendedores" android:screenOrientation="locked"/>
        <activity android:name="unknown.Sistema_Inventario_Android.ADD.AgregaVendedores" android:screenOrientation="locked"/>
        <activity android:name="unknown.Sistema_Inventario_Android.Edicion.VendedoresEdicion" android:screenOrientation="locked"/>
    </application>

</manifest>